/*
  Custom CSS reset by Josh Comeau
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*  1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/*  2. Remove default margin */
* {
	margin: 0;
}

/*  3. Allow percentage-based heights in the application */
html,
body {
	height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Remove built-in form typography style */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* My CSS */

:root {
	--bg-color-sedans: hsl(31, 77%, 52%);
	--bg-color-suvs: hsl(184, 100%, 22%);
	--bg-color-luxury: hsl(179, 100%, 13%);
	--color-main: hsl(0, 0%, 95%);
	--color-secondary: hsla(0, 0%, 100%, 0.75);
	--font-Lexend-Deca: 'Lexend Deca', sans-serif;
	--font-Big-Shoulders-Display: 'Big Shoulders Display', cursive;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--color-main);
	margin: 5rem 2rem;
	font-size: 1.5rem;
}

.cards-container {
	color: var(--color-secondary);
	border-radius: 0.5rem;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.card {
	font-family: var(--font-Lexend-Deca);
	font-weight: 400;
	padding: 4rem 5rem;
	flex-basis: 33.3%;

	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card__logo {
	width: 30%;
}

.card__title {
	font-family: var(--font-Big-Shoulders-Display);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 3.6rem;
	color: var(--color-main);
}

.card__learn-more-btn:link,
.card__learn-more-btn:visited {
	background-color: var(--color-main);
	text-decoration: none;
	text-align: center;
	width: 65%;
	padding: 1rem 2rem;
	border-radius: 10rem;
	border: 2px solid var(--color-main);
	transition: all 0.5s;
	margin-top: auto;
}

.card--sedan {
	background-color: var(--bg-color-sedans);
}

.card--sedan .card__learn-more-btn:link,
.card--sedan .card__learn-more-btn:visited {
	color: var(--bg-color-sedans);
}

.card--suv {
	background-color: var(--bg-color-suvs);
}

.card--suv .card__learn-more-btn:link,
.card--suv .card__learn-more-btn:visited {
	color: var(--bg-color-suvs);
}

.card--luxury {
	background-color: var(--bg-color-luxury);
}

.card--luxury .card__learn-more-btn:link,
.card--luxury .card__learn-more-btn:visited {
	color: var(--bg-color-luxury);
}

.card .card__learn-more-btn:hover,
.card .card__learn-more-btn:active {
	background-color: #00000000;
	color: var(--color-main);
}

/* Media Queries */

/* 590px */
@media (min-width: 36.875em) {
	body {
		margin: 5rem 5rem;
	}
}

/* 800px */
@media (min-width: 50em) {
	body {
		margin: 5rem 11rem;
	}
	.card__logo {
		width: 25%;
	}

	.card__learn-more-btn:link,
	.card__learn-more-btn:visited {
		width: 45%;
	}
}

/* 1024px */
@media (min-width: 64em) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
	.cards-container {
		max-width: 81.3rem;
		flex-direction: row;
	}
	.card__logo {
		width: 35%;
	}
	.card__details {
		margin-bottom: 5rem;
	}
	.card__learn-more-btn:link,
	.card__learn-more-btn:visited {
		width: 80%;
	}
}

/* Attribution styles */

.attribution {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	text-align: center;
	margin-top: 2rem;
}
